<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Register Now</h1>
  <form action="/register" method="post">
    <input type="password" name="password" placeholder="password-please">
    <input type="username" name="username" placeholder="username">
    <input type="email" name="email" placeholder="email-please">
    <input type="text" name="image" placeholder="image-please">
    <input type="number" name="number" placeholder="number-please">
    <input type="text" name="message" placeholder="message-please">
    <input type="submit">
  </form>

  <h1>login</h1>
  <form action="/login" method="post">
    <input type="username" name="username" placeholder="user">
    <input type="password" name="password" placeholder="password">
    <input type="submit">
  </form>
</body>
</html>